{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %}
Improv - About The Improv Project
{% endblock %}

{% block content %}
 <article>
         <h1 class="cover-heading">What's This All About?</h1>
         <p class="lead">This is a performance art project. We'll provide a category and ask for submissions of video
         performances in that category.</p>

        <p>This is Dave's MVP for Katie, where videos can be uploaded and saved.
        </p>

         <p class="lead">
          <a href="/upload" class="btn btn-lg btn-secondary">Upload Your Video</a>
        </p>
 </article>
{% endblock %}