{% extends "base.html" %}
{% set active_page = "contact" %}

{% block title %}
Improv - Contact Us
{% endblock %}

{% block content %}
 <article>
         <h1 class="cover-heading">Get in touch.</h1>
         <p class="lead">This page will be used to show a contact form and some contact or map details.
         Social media icons and styling will apply.</p>

        <p>This is Dave's MVP for Katie, where videos can be uploaded and saved.
        </p>

         <p class="lead">
          <a href="/upload" class="btn btn-lg btn-secondary">Upload Your Video</a>
        </p>
 </article>
{% endblock %}