{% extends "base.html" %}

{% block title %}
Improv - Share Your Story
{% endblock %}

{% block content %}
 <article>
         <h1 class="cover-heading">Improv Video Project.</h1>
         <p class="lead">This website is a minimal viable product, by Dave Davis. It's being built for Katie to
            demonstrate that some advanced Python Framework development can be used to allow users to upload
            videos to the owners YouTube channel and shuffled on the homepage</p>

        <p>This is Dave's MVP for Katie, where videos can be uploaded and saved.
        </p>

         <p class="lead">
          <a href="/upload" class="btn btn-lg btn-secondary">Upload Your Video</a>
        </p>
 </article>
{% endblock %}