{% extends "base.html" %}
{% set active_page = "tags" %}

{% block title %}
Improv - Tags and Categories
{% endblock %}

{% block content %}
 <article>
         <h1 class="cover-heading">Select a category</h1>
         <p class="lead">Select/search for tags below to view video submissions in that category. If you're inspired,
         why not submit your own video and participate in this project.</p>

        <p>This is Dave's MVP for Katie, where videos can be uploaded and saved.
        </p>

         <p class="lead">
          <a href="/upload" class="btn btn-lg btn-secondary">Upload Your Video</a>
        </p>
 </article>
{% endblock %}