{% extends "base.html" %}
{% set active_page = "upload" %}

{% block title %}
Improv - Share Your Story
{% endblock %}

{% block content %}
 <article>
         <h1 class="cover-heading">Upload Your Video</h1>
         <p class="lead">Upload your video by clicking on the upload button below and selecting your video from your
         phone or laptop drive.</p>

        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file }}
            <input type="submit">
            {# ToDo : Add styling to buttons on upload form.#}
            {# <input class="btn btn-info btn-sm" type="submit">#}
        </form>
 
 </article>
{% endblock %}